 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "posts";
 @import "welcome";
 @import "sessions";

 .sign-out{
   margin-top: -30px;
 }

 .user-name{
   margin-top: 10px;
   margin-left: 13px;
 }

 .gravatar{
   margin-top: 5px;
   border: 1px solid black;
 }
